@font-face {
  font-family: "Hakgyoansim-Dunggeunmiso";
  font-weight: normal;
  src: url("./fonts/HakgyoansimDunggeunmisoTTFR.ttf") format("truetype");
}

body {
  font-family: "Hakgyoansim-Dunggeunmiso";
}